<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      This is the page head - it contains info the browser uses to display the page
      You won't see what's in the head in the page
      Scroll down to the body element for the page content
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <!--This is an HTML comment. You can write text in a comment and the content won't be visible in the page-->
    <title>website</title>
    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- Import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div class="navbar">
      <div class="dropdown">
      <button class="dropbtn" onclick="myFunction()">About
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" id="myDropdown">
        <a href="about.html">About the project</a>
      </div>
    </div>
    <a style="border-width: 3px; border-right-style: solid;" href="model.html">Try it out</a>

</div>
  </body>
</html>

​